/************************** 

These are some base stylings 
for the feather app.

***************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

/************************** 

FONT STYLES

***************************/
/*-- Sticky Footer --*/
.page-wrap {
  min-height: 100%;
  margin-bottom: -60px; }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  height: 60px; }

.site-footer {
  padding: 15px;
  margin: 0; }

.site-footer h1 {
  color: #ececec;
  font-weight: lighter;
  font-size: 1em;
  font-family: "Merriweather"; }

.site-footer ul {
  float: right; }
  .site-footer ul li {
    display: inline-block;
    margin-left: 10px;
    color: #ececec; }

/*-- Intro Section --*/
.intro {
  width: 100%;
  text-align: center;
  padding-top: 2em; }
  .intro p {
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 1em;
    color: lightblue;
    font-family: "Merriweather";
    font-weight: lighter;
    font-spacing: .4em;
    line-height: 2em; }

/*-- Search Bar --*/
.search-bar {
  width: 100%;
  text-align: center;
  padding-top: 10%; }

input[type=text] {
  border: solid 1px lightgray;
  width: 20%;
  height: 40px;
  padding: 10px;
  font-family: "Merriweather"; }

input[type=submit] {
  background: #00abff;
  color: #fff;
  height: 40px;
  width: 80px;
  border-radius: 2px; }

/*-- Forecast Section --*/
.forecast-container {
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 10%;
  font-family: "Merriweather";
  transition: 2s; }
  .forecast-container h2 {
    font-size: 8em; }
  .forecast-container p {
    font-size: 2em; }

.forecast-container.ng-hide {
  opacity: 0; }

.forecast-container.ng-hide-remove, .ng-hide-add {
  transition: all ease 1000ms; }

.error-container {
  width: 100%;
  text-align: center;
  padding-top: 10%;
  font-family: "Merriweather";
  transition: 2s; }
  .error-container h4 {
    color: red; }

.loading {
  width: 100%;
  text-align: center;
  padding-top: 10%; }
  .loading img {
    width: 100px;
    animation: float 2s infinite; }

@keyframes float {
  0% {
    transform: rotateZ(-20deg) translate(50px); }
  50% {
    transform: rotateZ(40deg) translate(-50px); }
  100% {
    transform: rotateZ(-20deg) translate(50px); } }
