/************************** 

These are some base stylings 
for the feather app.

***************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

/************************** 

FONT STYLES

***************************/
/************************** 

FONT SIZE

***************************/
h1 {
  font-family: "Merriweather";
  font-size: 1rem;
  color: #000; }

/*-- Sticky Footer --*/
.page-wrap {
  min-height: 100%;
  margin-bottom: -60px; }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  height: 60px; }

.site-footer {
  padding: 15px;
  background: #f9f9f9;
  color: #ececec;
  margin: 0; }

.site-footer ul {
  float: right; }
  .site-footer ul li {
    display: inline-block;
    margin-left: 10px; }

/*-- Search Bar --*/
.search-bar {
  width: 100%;
  text-align: center;
  padding-top: 10%; }

input[type=text] {
  border: solid 1px lightgray;
  width: 20%;
  height: 40px;
  padding: 2px; }

input[type=submit] {
  background: lightblue;
  color: #fff;
  height: 40px;
  width: 60px;
  border-radius: 2px; }

/*-- Forecast Section --*/
.forecast-container {
  width: 100%;
  text-align: center; }
  .forecast-container h2, .forecast-container p {
    color: white; }
