/************************** 

These are some base stylings 
for the feather app.

***************************/


* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

/************************** 

FONT STYLES

***************************/


$primary: #000;
$secondary: #fff;

$merri: 'Merriweather';



/************************** 

FONT SIZE

***************************/



h1 {
	font-family: $merri;
	font-size: 1rem;
	color: $primary;
}



