@import 'base';

/*-- Sticky Footer --*/

.page-wrap {
	min-height: 100%;
	margin-bottom: -60px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	height: 60px;
}

.site-footer {
	padding: 15px;
	margin: 0;
}

.site-footer {
	h1 {
		color: #00abff;
		opacity: .5;
	}
	ul {
		float: right;
		li {
			display: inline-block;
			margin-left: 10px;
			color: #00abff;
			opacity: .3;
		}
	}
}

/*-- Search Bar --*/

.search-bar {
	width: 100%;
	text-align: center;
	padding-top: 10%;
}

input[type=text] {
	border: solid 1px lightgray;
	width: 20%;
	height: 40px;
	padding: 2px;
}

input[type=submit] {
	background: #00abff;
	opacity: .5;
	color: #fff;
	height: 40px;
	width: 60px;
	border-radius: 2px;

}

/*-- Forecast Section --*/

.forecast-container {
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 10%;
	font-family: 'Merriweather';
	h2 {
		font-size: 5em;
	}
	p {
		font-size: 2em;
	}
}