/************************** 

These are some base stylings 
for the feather app.

***************************/


* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/************************** 

FONT COLOR

***************************/


$primary-color: #000;
$secondary-color: #fff;
$accent-color: #g5gffg;




/************************** 

FONT SIZE

***************************/



h1 {

	font-size: 5rem;
	
}

h2 {
	
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: .5rem;
}
